@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Updock&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #fdfcf9;
    position: relative;
    padding: 40px 60px;
}

.header .tools {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.header .tools .fa-solid {
    font-size: 22px;
    color: #ae582d;
}

.header .tools .account span .fa-solid{
    font-size: 18px;
    color: #111;
    margin-left: 10px;
}