@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fdfcf9;
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    padding: 40px 80px;
}

.header .tools {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.header .tools .notification,
.header .tools .account,
.header .tools .cart {
    cursor: pointer;
}

.header .tools .fa-solid {
    font-size: 22px;
    color: #ae582d;
}

.header .tools .account span .fa-solid{
    font-size: 18px;
    color: #111;
    margin-left: 10px;
    margin-right: 15px;
}

.header .tools .account:hover .fa-solid{
    color: #ae582d;
}

.header hr {
    background: #48503c;
}

.header nav {
    display: flex;
    width: 100%;
}

.header nav .logo {
    width: 50%;
    padding-top: 20px;
}

.header nav .logo a{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    color: #48503c;
    font-weight: 100;
    
}

.header nav .logo a:hover {
    color: #111;
}

.header nav .menu {
    display: flex;
    gap: 15px;
    padding-top: 7px;
    justify-content: flex-end;
    width: 50%;
}

.header nav .menu li {
    float: left;
}

.header nav .menu li a {
    display: block;
    padding: 6px 0px 0px 15px;
    color: #48503c;
}

.header nav .menu li:hover a {
    color: #111;
}

.header .banner {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.header .banner .slogan {
    width: 50%;
    padding-left: 60px;
    padding-right: 20px;
}

.header .banner .slogan h4 {
    color: #ae582d;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    font-weight: 200;
}

.header .banner .slogan p {
    font-size: 20px;
    color: #515a54;
    margin-top: -50px;
}

.header .banner .img-banner{
    width: 50%;
    height: 100%;
}

.header .banner .img-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    height: auto;
    margin-top: 100px;
    padding: 0 80px;
}

.section .into-title {
    margin-top: 100px;
    text-align: center;
}

.section .into-title h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
}

.section .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 80px;
    gap: 10px;
}

.section .intro .intro-card .intro-img {
    width: 200px;
    height: 200px;
}

.section .intro .intro-card .intro-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.section .title{
    height: auto;
    width: 200px;
    background: #f4e9c7;
    text-align: center;
    margin-bottom: -15px;
}

.section .title h2 a{
    font-size: 30px;
    color: #48503c;
    font-weight: 200;
}

.section .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    padding: 30px 10px;
    background: rgb(244, 239, 239);
}

.section .products .card {
    width: 250px;
    height: 400px;
    background: #fdfcf9;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}

.section .products .card:hover {
    transform: scale(1.1 , 1.1);
    background: rgba(255, 255, 255, 0.4);
    
}

.section .products .card .pro-img {
    height: 330px;
}

.section .products .card .pro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .products .card .pro-name {
    font-size: 18px;
}

.section .products .card .pro-price {
    font-size: 15px;
}

.section .products .card .add-cart {
    margin-top: -220px;
    
}

.section .products .card .add-cart button{
    opacity: 0;
    height: 40px;
    background: #af7355;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
}

.section .products .card:hover .add-cart button {
    transition: 0.4s;
    opacity: 1;
}

.section .products .card .add-cart button:hover {
    transform: scale(1.1);
    background: #ae582d;
}

.about-us {
    margin-top: 100px;
}

.about-img {
    height: 400px;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us .about-text {
    padding: 40px 140px;
    text-align: center;
    color: #515a54;
}

.about-us .about-text h5 {
    font-size: 20px;
    font-weight: 500;
}

.about-us .about-text p {
    line-height: 1.6;
    font-size: 15px;
}

.section .featured {
    height: auto;
    margin-top: 100px;
    position: relative;
}

.section .featured .list-slider {
    background: rgb(244, 239, 239);
}

.section .featured .list-slider .slide {
    display: none;
}

.section .featured .list-slider .slide.show {
    display: block;
    transition: 0.4s;
}

.section .featured .list-slider .slide .fade {
    height: 400px;
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    
}

.section .featured .list-slider .slide .fade .featured-img {
    width: 60%;
}

.section .featured .list-slider .slide .fade .featured-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.section .featured .list-slider .slide:hover .fade .featured-img img{
    transform: translate(0, -42px);
}

.section .featured .list-slider .slide .fade .featured-more {
    text-align: center;
    padding-top: 150px;
    line-height: 1.8;
}

.section .featured .list-slider .slide .fade .featured-more .featured-name {
    font-size: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:250px;
}

.section .featured .list-slider .slide .fade .featured-more .featured-price {
    font-size: 18px;
}

.section .featured .list-slider .slide .fade .featured-more .featured-sold {
    font-size: 18px;
}

.section .featured .list-slider .slide .fade .featured-more .featured-sold span {
    margin-left: 10px;
}

.section .featured .list-slider .slide .fade .featured-choose {
    height: 400px;
    width: 60px;
    background: #ae582d;
    opacity: 0;
    transition: 0.4s;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    padding-right: 10px;
}

.section .featured .list-slider .slide .fade:hover .featured-choose {
    opacity: 1;
    transition: 0.6s;
}

.section .featured .list-slider .slide .fade .featured-choose .fas {
    transition: 0.6s;
}

.section .featured .list-slider .slide .fade .featured-choose:hover .fas {
    margin-top: 20px;
    transform: scale(1.5 , 1.5);
    transition: 0.4s;
}

.section .featured .featured-button {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    font-size: 60px;
    color: #515a54;
    cursor: pointer;
}

.section .featured .featured-button.pre {
    left: -40px;
    transition: 0.4s;
}

.section .featured .featured-button.next {
    right: -40px;
    transition: 0.4s;
}

.section .featured .featured-button.pre:hover,
.section .featured .featured-button.next:hover {
    color: #ae582d;
    transform: scale(1.2);
    
}

.section .sale {
    margin-top: 100px;
}

.section .sale-banner {
    display: flex;
    justify-content: space-between;
    height: 350px;
    gap: 10px;
}

.section .sale .sale-banner .sale-img {
    width: 50%;
}

.section .sale .sale-banner .sale-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .sale .sale-products {
    margin-top: 50px;
    position: relative;
}

.section .sale .sale-products .sale-control {
    position: absolute;
    top: 50%;
    transform: translateY(-20px);
    font-size: 40px;
    color: #ae582d;
    cursor: pointer;
}

.section .sale .sale-products .sale-control.sale-pre {
    left: 10px;
    z-index: 1;
}

.section .sale .sale-products .sale-control.sale-next {
    right: 10px;
}

.section .sale .sale-products .sale-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.section .sale .sale-products .sale-card .sale-box{
    width: 210px;
    height: 280px;
    position: relative;
}

.section .sale .sale-products .sale-card .sale-box .tag-sale {
    background: #ae582d;
    position: absolute;
    top: -10px;
    width: 60px;
    height: 30px;
    left: -5px;
    text-align: center;
}

.section .sale .sale-products .sale-card .sale-box .tag-sale p {
    display: inline;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.section .sale .sale-products .sale-card .sale-box .tag-sale::before {
    content: '';
    background-color: #551e02;
    display: inline-block;
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    right: 55px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.section .sale .sale-products .sale-card .sale-box .tag-sale::after {
 
}

.section .sale .sale-products .sale-card .sale-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section .sale .sale-products .sale-card .sale-box .sale-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.section .sale .sale-products .sale-card .sale-box .sale-name a{
    color: #48503c;
    font-weight: 500;
}

.section .sale .sale-products .sale-card .sale-box .sale-name:hover a{
    color: #111;
}

.section .sale .sale-products .sale-card .sale-box .sale-price {
    font-size: 14px;
    color: #48503c;
}

/* .footer {
    width: auto;
    height: 200px;
    background: rgb(244, 239, 239);
    text-align: center;
    
}

.footer .coppyright {
    padding-top: -200px;
} */