@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Updock&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #fdfcf9;
    position: relative;
    padding: 40px 80px;
}

.tools {
    display: flex;
    justify-content: end;
}